body {
  font-family: "Inter", sans-serif;
  height: 90vh;
  background-image: url(../img/setting.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

#header {
  height: 100vh;
}
#header .container {
  height: 100%;
}
#header .container .row {
  height: 100%;
}
#about {
  height: 100vh;
}
#about .container {
  height: 100%;
}
#about .container .row {
  height: 100%;
}
#contact {
  height: 100vh;
}

#contact .container {
  height: 100%;
}
#contact .container .row {
  height: 100%;
}

#product {
  margin-top: 100px;
}

.navbar {
  background-color: white;
}
